albumentations==1.1.0
opencv-python>=4.8.0.76
opencv-python-headless>=4.8.0.76
numpy>=1.19.5,<2.0
pandas>=2.2.3
rdkit>=2024.3.5
SmilesPE==0.0.3
OpenNMT-py==2.2.0
tensorboardX>=2.6.2.2
timm>=0.4.12,<=0.5.4
torch>=2.0.1,<=2.7.1
# Only this version of transformers are compatible with timm
transformers>=4.47.0,<=4.52.4